:root {
  --light: #fff;
  --dark: #313154;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

input,
button {
  border: none;
  appearance: none;
  outline: none;
  background: none;
  cursor: initial;
}
button {
  cursor: pointer;
}

body {
  background: var(--light);
  color: var(--dark);
}

section {
  margin-top: 1.5em;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.greeting .title {
  display: flex;
}
.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
}
.greeting title,
.greeting .title input {
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 700;
}

.update-controller {
  display: none;
}
